
__pycache__/
*.py[cod]
*$py.class
.DS_Store

venv/
env/
.venv/
ENV/

.ipynb_checkpoints/

wandb/
wandb/run-*
wandb/latest-run
wandb/debug.log

*.log

*.tmp
*.temp

build/
dist/
*.egg-info/

.vscode/
.idea/

data/*.gz
data/*.zip

!src/best_model.npy
!src/best_config.json
